# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd


# Entornos virtuales
env/
venv/
.venv/

# =========================
# IDEs y editores
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Logs y temporales
# =========================
*.log
*.tmp

# =========================
# Archivos de configuración sensibles
# =========================
.env
*.env

# =========================
# Bases de datos locales / reportes
# =========================
*.db
*.sqlite
*.sqlite3
*.csv
*.xlsx

# =========================
# Builds / distribuciones
# =========================
build/
dist/
*.egg-info/

# =========================
# Testing
# =========================
.coverage
htmlcov/
.pytest_cache/
